
<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-row-reverse">
  <a class="github-button ml-auto" href="https://github.com/IdanCo/object2form" data-size="large" data-show-count="true" aria-label="Star IdanCo/object2form on GitHub">Star</a>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">
      <code>&#123;object&#125;</code>
      to
      <code>&lt;form&gt;</code>
    </h1>
    <p class="lead pt-3">Easily convert JavaScript objects to HTML forms for faster UI development</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row align-items-stretch mb-5">
    <div class="col-md-6">
      <app-transformer></app-transformer>
    </div>
    <div class="col-md-6">
      <app-transformer-settings></app-transformer-settings>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-object (sourceObjectChanged)="setSourceObject($event)"></app-object>
    </div>
    <div class="col-md-6">
      <app-result [sourceObject]="sourceObject"></app-result>
    </div>
  </div>

  <hr>

  <footer>
    <p><a href="http://idancohen.com">Idan Cohen</a> 2017</p>
  </footer>
</div> <!-- /container -->